
 @media  (max-width:768px) {
  
  thead{
      display: none;
  }
  tbody tr td{
      display: block;
      width: 100%;
  }
 
  /*  now working but why i don't know */
   tr{
     margin-bottom: 15px;
     
   }

    tbody tr td{
       text-align: right;
       padding-left: 50%;
       position: relative;
    }
    td:before{

       content: attr(data-aria-label);
       position: absolute;
       left: 0;
       width: 50%;
       padding-left: 15px;
       font-weight: 600;
       font-size: 14px;
       text-align: left;

    }

}

